/* from https://awesomecarpenter.com/css/ultra.css */
[class^="mi-"], [class*=" mi-"] { font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; letter-spacing: normal; -webkit-font-smoothing: antialiased; display: inline-block; transform: rotate(0.003deg); font-family: icons !important; }
[class^="icon-"], [class*=" icon-"] { font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; letter-spacing: normal; -webkit-font-smoothing: antialiased; display: inline-block; transform: rotate(0.003deg); font-family: icomoon !important; }
.icon-info { position: relative; top: 0.05em; }
[class^="fa-"], [class*=" fa-"] { font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; letter-spacing: normal; -webkit-font-smoothing: antialiased; display: inline-block; transform: rotate(0.003deg); font-family: font-awesome-brands !important; }
*, ::after, ::before { box-sizing: border-box; }
@media (prefers-reduced-motion: no-preference) {
  :root { scroll-behavior: smooth; }
}
body { margin: 0px; font-family: var(--bs-body-font-family); font-size: var(--bs-body-font-size); font-weight: var(--bs-body-font-weight); line-height: var(--bs-body-line-height); color: var(--bs-body-color); text-align: var(--bs-body-text-align); background-color: var(--bs-body-bg); text-size-adjust: 100%; -webkit-tap-highlight-color: transparent; }
hr { margin: 1rem 0px; color: inherit; background-color: currentcolor; border: 0px; opacity: 0.25; }
hr:not([size]) { height: 1px; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin-top: 0px; margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; }
.h1, h1 { font-size: calc(1.375rem + 1.5vw); }
@media (min-width: 1200px) {
  .h1, h1 { font-size: 2.5rem; }
}
.h2, h2 { font-size: calc(1.325rem + 0.9vw); }
@media (min-width: 1200px) {
  .h2, h2 { font-size: 2rem; }
}
.h3, h3 { font-size: calc(1.3rem + 0.6vw); }
@media (min-width: 1200px) {
  .h3, h3 { font-size: 1.75rem; }
}
.h4, h4 { font-size: calc(1.275rem + 0.3vw); }
@media (min-width: 1200px) {
  .h4, h4 { font-size: 1.5rem; }
}
.h5, h5 { font-size: 1.25rem; }
p { margin-top: 0px; margin-bottom: 1rem; }
ol, ul { padding-left: 2rem; }
ol, ul { margin-top: 0px; margin-bottom: 1rem; }
blockquote { margin: 0px 0px 1rem; }
b, strong { font-weight: bolder; }
.small, small { font-size: 0.875em; }
a { color: rgb(13, 110, 253); text-decoration: underline; }
img, svg { vertical-align: middle; }
label { display: inline-block; }
button { border-radius: 0px; }
button, input, optgroup, select, textarea { margin: 0px; font-family: inherit; font-size: inherit; line-height: inherit; }
button, select { text-transform: none; }
[role="button"] { cursor: pointer; }
[type="button"], [type="reset"], [type="submit"], button { appearance: button; }
[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) { cursor: pointer; }
textarea { resize: vertical; }
iframe { border: 0px; }
.display-5 { font-size: calc(1.425rem + 2.1vw); font-weight: 300; line-height: 1.2; }
@media (min-width: 1200px) {
  .display-5 { font-size: 3rem; }
}
.list-unstyled { padding-left: 0px; list-style: none; }
.img-fluid { max-width: 100%; height: auto; }
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl { width: 100%; padding-right: var(--bs-gutter-x,.75rem); padding-left: var(--bs-gutter-x,.75rem); margin-right: auto; margin-left: auto; }
@media (min-width: 576px) {
  .container, .container-sm { max-width: 540px; }
}
@media (min-width: 768px) {
  .container, .container-md, .container-sm { max-width: 720px; }
}
@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm { max-width: 960px; }
}
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1140px; }
}
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1320px; }
}
.row { --bs-gutter-x: 1.5rem; --bs-gutter-y: 0; display: flex; flex-wrap: wrap; margin-top: calc(-1 * var(--bs-gutter-y)); margin-right: calc(-.5 * var(--bs-gutter-x)); margin-left: calc(-.5 * var(--bs-gutter-x)); }
.row > * { flex-shrink: 0; width: 100%; max-width: 100%; padding-right: calc(var(--bs-gutter-x) * .5); padding-left: calc(var(--bs-gutter-x) * .5); margin-top: var(--bs-gutter-y); }
@media (min-width: 576px) {
  .col-sm-4 { flex: 0 0 auto; width: 33.3333%; }
  .col-sm-6 { flex: 0 0 auto; width: 50%; }
}
@media (min-width: 768px) {
  .col-md-4 { flex: 0 0 auto; width: 33.3333%; }
  .col-md-5 { flex: 0 0 auto; width: 41.6667%; }
  .col-md-6 { flex: 0 0 auto; width: 50%; }
  .col-md-7 { flex: 0 0 auto; width: 58.3333%; }
  .col-md-10 { flex: 0 0 auto; width: 83.3333%; }
  .offset-md-1 { margin-left: 8.33333%; }
}
@media (min-width: 992px) {
  .col-lg-3 { flex: 0 0 auto; width: 25%; }
  .col-lg-5 { flex: 0 0 auto; width: 41.6667%; }
  .col-lg-6 { flex: 0 0 auto; width: 50%; }
  .col-lg-7 { flex: 0 0 auto; width: 58.3333%; }
  .col-lg-8 { flex: 0 0 auto; width: 66.6667%; }
  .col-lg-10 { flex: 0 0 auto; width: 83.3333%; }
  .col-lg-12 { flex: 0 0 auto; width: 100%; }
  .offset-lg-2 { margin-left: 16.6667%; }
}
@media (min-width: 1200px) {
  .col-xl-5 { flex: 0 0 auto; width: 41.6667%; }
  .offset-xl-1 { margin-left: 8.33333%; }
}
.form-control { display: block; width: 100%; padding: 0.375rem 0.75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: rgb(33, 37, 41); background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgb(206, 212, 218); appearance: none; border-radius: 0.25rem; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
@media (prefers-reduced-motion: reduce) {
  .form-control { transition: none; }
}
textarea.form-control { min-height: calc(1.5em + 2px + 0.75rem); }
.btn { display: inline-block; font-weight: 400; line-height: 1.5; color: rgb(33, 37, 41); text-align: center; text-decoration: none; vertical-align: middle; cursor: pointer; user-select: none; background-color: transparent; border: 1px solid transparent; padding: 0.375rem 0.75rem; font-size: 1rem; border-radius: 0.25rem; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
@media (prefers-reduced-motion: reduce) {
  .btn { transition: none; }
}
.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) { position: absolute !important; width: 1px !important; height: 1px !important; padding: 0px !important; margin: -1px !important; overflow: hidden !important; clip: rect(0px, 0px, 0px, 0px) !important; white-space: nowrap !important; border: 0px !important; }
.align-middle { vertical-align: middle !important; }
.float-start { float: left !important; }
.float-end { float: right !important; }
.overflow-hidden { overflow: hidden !important; }
.d-flex { display: flex !important; }
.d-none { display: none !important; }
.position-relative { position: relative !important; }
.align-items-center { align-items: center !important; }
.align-items-stretch { align-items: stretch !important; }
.mt-0 { margin-top: 0px !important; }
.me-1 { margin-right: 0.25rem !important; }
.me-2 { margin-right: 0.5rem !important; }
.mb-0 { margin-bottom: 0px !important; }
.ms-2 { margin-left: 0.5rem !important; }
.px-4 { padding-right: 1.5rem !important; padding-left: 1.5rem !important; }
.pt-0 { padding-top: 0px !important; }
.pb-0 { padding-bottom: 0px !important; }
.fw-bold { font-weight: 700 !important; }
.lh-sm { line-height: 1.25 !important; }
.text-start { text-align: left !important; }
.text-end { text-align: right !important; }
.text-center { text-align: center !important; }
.text-dark { --bs-text-opacity: 1; color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity)) !important; }
.rounded { border-radius: 0.25rem !important; }
.rounded-circle { border-radius: 50% !important; }
@media (min-width: 576px) {
  .me-sm-5 { margin-right: 3rem !important; }
  .ms-sm-5 { margin-left: 3rem !important; }
  .pt-sm-0 { padding-top: 0px !important; }
}
@media (min-width: 768px) {
  .d-md-block { display: block !important; }
  .mt-md-0 { margin-top: 0px !important; }
  .text-md-end { text-align: right !important; }
}
@media (min-width: 992px) {
  .pe-lg-5 { padding-right: 3rem !important; }
}
:root { --font-global: 'DM Sans',sans-serif; --font-alt: 'DM Sans',sans-serif; --font-serif: Georgia,'Times New Roman',Times,serif; --full-wrapper-margin-x: 30px; --container-width: 1350px; --section-padding-y: 120px; --menu-bar-height: 85px; --menu-bar-height-scrolled: 65px; --color-dark-1: #010101; --color-dark-2: #171717; --color-dark-3: #272727; --color-dark-3a: #333; --color-dark-4: #555; --color-gray-1: #757575; --color-gray-2: #888; --color-gray-3: #999; --color-gray-light-1: #f1f1f1; --color-gray-light-2: #f7f7f7; --color-gray-light-3: #e5e5e5; --color-gray-light-4: #d5d5d5; --color-gray-light-5: #ccc; --color-gray-light-6: #bbb; --color-dark-mode-gray-1: rgba(255,255,255, .7); --color-dark-mode-gray-2: rgba(255,255,255, .1275); --color-primary-1: #4567ed; --color-primary-1-a: #375ae3; --color-primary-light-1: #e3effe; --color-primary-light-1-a: #bcd1f1; --color-primary-2: #7752e7; --color-primary-light-2: #e7defe; --color-primary-3: #b947d9; --color-primary-light-3: #f7defe; --color-primary-4: #e748b1; --color-primary-light-4: #ffe1f5; --color-secondary-1: #fbe3a1; --gradient-primary-1: linear-gradient( 90deg, var(--color-primary-4) 0%, var(--color-primary-3) 33%, var(--color-primary-2) 67%, var(--color-primary-1) 100%); --gradient-primary-1-a: linear-gradient( 90deg, var(--color-primary-4) 25%, var(--color-primary-3) 40%, var(--color-primary-2) 60%, var(--color-primary-1) 75%); --gradient-primary-1-b: linear-gradient( 45deg, var(--color-primary-4) 0%, var(--color-primary-3) 33%, var(--color-primary-2) 67%, var(--color-primary-1) 100%); --gradient-primary-1-c: linear-gradient( 0deg, var(--color-primary-4) 0%, var(--color-primary-3) 33%, var(--color-primary-2) 67%, var(--color-primary-1) 100%); --gradient-gray-light-1: linear-gradient(0deg, #f5f5f5 0%, #fff 100%); --gradient-gray-light-2: linear-gradient(0deg, #fff 0%, #f5f5f5 100%); --gradient-dark-alpha-1: linear-gradient( 90deg, var(--color-dark-1) 40%, transparent 87%); --gradient-dark-alpha-2: linear-gradient( 90deg, transparent 13%, var(--color-dark-1) 60%); --gradient-primary-alpha-1: linear-gradient( 90deg, var(--color-primary-1) 40%, transparent 87%); --gradient-primary-alpha-2: linear-gradient( 90deg, transparent 13%, var(--color-primary-1) 60%); --border-radius-default: 4px; --border-radius-large: 30px; --box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05),0px 1px 1px 0px rgba(0, 0, 0, 0.03),0px 3px 5px 0px rgba(0, 0, 0, 0.03); --box-shadow-strong: 0px 5px 10px 0px rgba(0, 0, 0, 0.08),0px 1px 1px 0px rgba(0, 0, 0, 0.06),0px 3px 5px 0px rgba(0, 0, 0, 0.06); --box-shadow-block: 0px 3px 50px 0px rgba(0, 0, 0, 0.05); --box-shadow-block-strong: 0px 3px 50px 0px rgba(0, 0, 0, 0.15); --transition-default: all 0.27s cubic-bezier(0, 0, 0.58, 1); --ease-default: cubic-bezier(0, 0, 0.58, 1); --ease-out-long: cubic-bezier(0,.5,0,1); --ease-out-medium: cubic-bezier(0,.57,.55,1); --ease-out-short: cubic-bezier(.15,.7,.78,1); --ease-elastic-1: cubic-bezier(0.68,-0.55,0.27,1.55); --ease-elastic-2: cubic-bezier(0.68,-3,0.27,5); }
:root { scroll-behavior: auto; }
html { }
body { overflow-x: hidden; -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility; }
main { overflow: clip; }
iframe { border: none; }
a, b, div, li, ul { -webkit-tap-highlight-color: transparent; }
embed, img:not([draggable]), object, video { max-width: 100%; height: auto; }
.min-height-100vh { min-height: 100svh !important; }
.relative { position: relative !important; }
.no-hover { cursor: default !important; }
.wch-unset { will-change: unset !important; }
.opacity-1 { opacity: 1 !important; }
.size-13 { font-size: 13.5px !important; }
.size-16 { font-size: 16px !important; }
.size-18 { font-size: 18.5px !important; }
.size-24 { font-size: 24px !important; }
.stick-fixed { top: 0px; left: 0px; position: fixed !important; }
.round { border-radius: var(--border-radius-default) !important; }
[data-rellax-y] { transition: transform 0.25s cubic-bezier(0, 0, 0.58, 1) 2.5ms; will-change: transform; }
.clearlist, .clearlist li { list-style: none; padding: 0px; margin: 0px; background: 0px 0px; }
.clearlinks a { text-decoration: none; color: unset; }
.full-wrapper { margin: 0 var(--full-wrapper-margin-x); }
.container { max-width: var(--container-width); padding: 0px 30px; }
.page-loader { display: block; width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; background: rgb(254, 254, 254); z-index: 100000; }
.loader { width: 50px; height: 50px; position: absolute; top: 50%; left: 50%; margin: -25px 0px 0px -25px; font-size: 10px; text-indent: -12345px; border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.55); border-radius: 50%; animation: 0.7s linear 0s infinite normal none running spinner; will-change: transform; z-index: 100001; }
body { color: var(--color-dark-1); font-family: var(--font-global); font-size: 18px; font-weight: 400; letter-spacing: normal; line-height: 1.67; }
a { color: var(--color-dark-1); text-decoration: underline; transition: color .1s var(--ease-default); }
b, strong { font-weight: 500; }
.mark-decoration-1 { position: relative; display: inline-block; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin-bottom: 1em; font-weight: 500; line-height: 1.2; }
.h1, h1 { margin-bottom: 0.5em; font-size: 42px; letter-spacing: -0.04em; }
.h2, h2 { margin-bottom: 0.5em; font-size: 36px; letter-spacing: -0.03em; }
.h3, h3 { margin-bottom: 0.7em; font-size: 28px; letter-spacing: -0.03em; }
.h4, h4 { font-size: 24px; }
.h5, h5 { font-size: 20px; }
p { margin: 0px 0px 1.5em; }
ol, ul { margin: 0px 0px 1.5em; }
blockquote { margin: 0px 0px 2em; padding: 0px; border: none; background: 0px 0px; font-style: normal; line-height: 1.47; }
blockquote p { position: relative; margin-bottom: 0.7em; font-size: 140%; font-style: normal; letter-spacing: -0.01em; line-height: 1.5; }
blockquote footer { font-size: 15px; font-weight: 400; }
.testimonial { position: relative; margin: 0px 0px 1.5em; padding-left: 1.9778em; background: 0px 0px; font-size: 46px; border: none; }
.testimonial p { position: relative; margin-bottom: 0.85em; font-size: 46px; font-weight: 500; font-style: normal; letter-spacing: -0.025em; line-height: 1.217; }
.testimonial footer { font-size: 18px; font-weight: 500; }
.testimonial .small { font-size: 15px; font-weight: 400; color: var(--color-gray-1); }
.testimonial .blockquote-icon { position: absolute; top: 0.15em; left: 0px; width: 0.88em; height: 0.88em; background: rgb(255, 255, 255); border-radius: 50%; font-family: Georgia, serif; font-size: 1.5em; line-height: 1.45em; text-align: center; }
hr { background-color: rgb(0, 0, 0); opacity: 0.1; }
.hs-title-1 { margin-top: 0px; font-size: 70px; font-weight: 500; line-height: 1.085; letter-spacing: -0.035em; }
.link-hover-anim { position: relative; display: inline-block; padding: 6px 0px; overflow: hidden; font-size: 17px; font-weight: 500; letter-spacing: normal; line-height: 1; text-decoration: none; vertical-align: middle; color: currentcolor; background: 0px 0px; border: none; cursor: pointer; }
.main-nav .link-hover-anim { top: 1px; }
.btn-mod, a.btn-mod { box-sizing: border-box; padding: 3px 13px; color: rgb(255, 255, 255); background: var(--color-dark-1); border: 1px solid transparent; font-size: 12px; font-weight: 700; text-transform: uppercase; text-decoration: none; letter-spacing: 0.065em; border-radius: 0px; box-shadow: none; transition: var(--transition-default); cursor: pointer; }
.btn-mod.btn-large { height: auto; padding: 16px 32px 15px; font-size: 13px; letter-spacing: 0.085em; }
.btn-mod.btn-w { color: var(--color-dark-1); background: rgb(255, 255, 255); }
.btn-mod.btn-round { border-radius: var(--border-radius-default); }
.btn-mod.btn-hover-anim { position: relative; overflow: hidden; isolation: isolate; transform: translateZ(0px); }
.btn-mod.btn-hover-anim > span { position: relative; }
.form input[type="color"], .form input[type="date"], .form input[type="email"], .form input[type="number"], .form input[type="password"], .form input[type="search"], .form input[type="tel"], .form input[type="text"], .form input[type="url"], .form select { display: inline-block; height: 27px; vertical-align: middle; font-size: 13px; font-weight: 400; color: var(--color-dark-1); border: 1px solid rgba(0, 0, 0, 0.184); padding: 0px 7px 2px; border-radius: 0px; box-shadow: none; transition: 0.2s cubic-bezier(0, 0, 0.58, 1); }
.form input[type="color"].input-lg, .form input[type="date"].input-lg, .form input[type="email"].input-lg, .form input[type="number"].input-lg, .form input[type="password"].input-lg, .form input[type="search"].input-lg, .form input[type="tel"].input-lg, .form input[type="text"].input-lg, .form input[type="url"].input-lg, .form select.input-lg { height: 52.5px; padding-left: 20px; padding-right: 20px; font-size: 16px; }
.form textarea { font-size: 13px; font-weight: 400; color: var(--color-dark-1); border-color: rgba(0, 0, 0, 0.184); padding: 0px 7px; outline: 0px; box-shadow: none; appearance: none; }
.form textarea.input-lg { padding: 12px 20px; font-size: 16px; }
.form label { display: inline-block; margin-bottom: 7px; font-size: 18px; font-weight: 500; line-height: 1.3; }
.form .form-group { margin-bottom: 21px; }
.form-tip, .form-tip a { font-size: 14px; line-height: 1.43; color: var(--color-gray-1); }
.form-control { border-radius: 0px; }
.home-section { width: 100%; display: block; position: relative; background-repeat: no-repeat; background-attachment: fixed; background-position: center center; background-size: cover; }
.home-content { width: 100%; position: relative; text-align: center; }
.scroll-down-wrap-4 { position: absolute; bottom: 30px; left: 0px; width: 100%; }
.scroll-down-4 { position: relative; display: inline-flex; justify-content: center; align-items: center; width: 38px; height: 38px; text-decoration: none; color: var(--color-dark-1); border: 2px solid var(--color-dark-1); border-radius: 50%; transition: all .27s var(--ease-default); }
.hs-status { position: absolute; bottom: 30px; left: var(--full-wrapper-margin-x); width: 180px; font-size: 16px; line-height: 1.375; padding-left: 10px; border-left: 2px solid currentcolor; }
:root { --animate-duration: 1s; --animate-delay: 1s; --animate-repeat: 1; }
.wow, .wow-menubar, .wow-p { opacity: 0.001; backface-visibility: hidden; transform: translateZ(0px); }
.appear-animate .wow.scaleOutIn { opacity: 1; transform: scale(1.2); }
@media print {
  .wow, .wow-menubar, .wow-p, .wow.scaleOutIn { opacity: 1 !important; transform: none !important; animation: auto ease 0s 1 normal none running none !important; }
}
.fadeIn { animation-name: fadeIn; }
.fadeInUp { animation-name: fadeInUp; }
.scalexIn { animation-name: scalexIn; }
.fadeScaleIn { animation-name: fadeScaleIn; }
.scaleOutIn { animation-name: scaleOutIn; animation-timing-function: var(--ease-out-short); }
.nav-logo-wrap { position: absolute; top: 0px; left: 0px; flex-shrink: 0; z-index: 1; }
.nav-logo-wrap .logo { display: flex; align-items: center; max-width: 188px; height: var(--menu-bar-height); transition: 0.2s cubic-bezier(0, 0, 0.58, 1); }
.nav-logo-wrap .logo img { max-height: 100%; }
.logo, a.logo:hover { font-size: 18px; text-decoration: none; color: rgba(0, 0, 0, 0.9); font-weight: 600 !important; }
.main-nav { display: flex; flex-flow: column; align-items: stretch; width: 100%; position: relative; top: 0px; left: 0px; text-align: left; background: rgba(255, 255, 255, 0.98); box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 10px 0px, rgba(0, 0, 0, 0.01) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 0px 50px 0px; z-index: 1030; transition: all .2s var(--ease-default); height: var(--menu-bar-height) !important; }
.main-nav-sub { flex-grow: 1; display: flex; position: relative; }
.inner-nav { flex-grow: 1; position: relative; }
.inner-nav ul { margin: auto; font-size: 17px; font-weight: 500; text-align: center; letter-spacing: 0px; line-height: 1.3; }
.inner-nav > ul { display: flex; flex-flow: row; justify-content: center; align-items: center; }
.inner-nav ul li { margin: 0px 18px; position: relative; }
.inner-nav ul li:first-child { margin-left: 0px; }
.inner-nav ul li:last-child { margin-right: 0px; }
.inner-nav > ul.items-end { position: absolute; top: 0px; right: 0px; }
.inner-nav ul li a { display: inline-block; text-decoration: none; transition: 0.2s cubic-bezier(0, 0, 0.58, 1); }
.inner-nav > ul > li > a { display: table-cell; vertical-align: middle; height: var(--menu-bar-height); opacity: 0.65; }
.inner-nav ul li a.active, .inner-nav ul li a:hover { color: var(--color-dark-1); opacity: 1; text-decoration: none; }
.mobile-nav { display: none; margin-left: auto; margin-right: -15px; padding-left: 15px; padding-right: 15px; font-size: 16px; cursor: pointer; height: var(--menu-bar-height); transition: background 0.2s cubic-bezier(0, 0, 0.58, 1), color, height; }
.mobile-nav-icon { position: relative; display: block; width: 1.8em; height: 2px; margin: auto; background: var(--color-dark-1); }
.main-nav:not(.transparent) { backdrop-filter: blur(10px); }
.bg-image, .page-section, .small-section { width: 100%; display: block; position: relative; background-attachment: fixed; background-repeat: no-repeat; background-position: center center; background-size: cover; padding-top: var(--section-padding-y); padding-bottom: var(--section-padding-y); }
.parallax-1, .parallax-10, .parallax-2, .parallax-3, .parallax-4, .parallax-5, .parallax-6, .parallax-7, .parallax-8, .parallax-9 { background-position-y: 0px; }
.bg-gray-light-1 { background-color: var(--color-gray-light-1); }
.section-caption { margin-bottom: 25px; color: var(--color-gray-1); font-size: 14px; text-transform: uppercase; letter-spacing: 0.075em; }
.section-title { font-size: 56px; font-weight: 500; line-height: 1.107; letter-spacing: -0.03em; }
.section-descr { margin-top: 0px; color: var(--color-gray-1); font-size: 23px; font-weight: 400; line-height: 1.5; letter-spacing: -0.005em; }
.section-line { width: 80px; height: 1px; margin: 0px auto 0px 0px; background: var(--color-dark-1); }
.text-gray { color: var(--color-gray-1); }
.text-gray a { color: var(--color-dark-1); transition: all .17s var(--ease-default); }
.decoration-2 { position: absolute; top: -50px; right: 150px; color: rgb(224, 224, 224); pointer-events: none; }
:root { --services-text-overlap: 220px; }
.team-item-image { position: relative; overflow: hidden; }
.team-item-image img { width: 100%; transition: 0.4s; }
.team-item-detail { display: inline-block; max-width: 90%; position: absolute; bottom: 30px; left: 50%; transform: translate(-50%, 10px) scale(0.85); font-size: 16px; color: var(--color-dark-1); text-align: center; opacity: 0; z-index: 2; transition: all .4s var(--ease-elastic-1); will-change: transform; }
.team-item-descr { position: relative; line-height: 1.3; text-align: center; transition: var(--transition-default); }
.team-item-name { margin-top: 15px; font-size: 18px; font-weight: 500; }
.team-item-role { margin-top: 5px; font-size: 15px; color: var(--color-gray-1); }
.team-social-links { display: inline-flex; flex-direction: row; position: relative; font-size: 14px; }
.team-social-links a { display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; color: var(--color-dark-1); text-decoration: none; transition: var(--transition-default); }
.team-social-links a:not(.team-social-linksa:last-child) { border-right: 1px solid rgba(0, 0, 0, 0.15); }
.alt-features-item { margin-top: 35px; }
.alt-features-item.border-left { padding-left: 30px; border-left: 1px solid var(--color-gray-light-3); }
.alt-features-icon { position: relative; display: inline-block; width: 1em; height: 1em; margin: 0px 0px 22px; font-size: 48px; text-align: center; line-height: 1.3; color: currentcolor; }
.alt-features-icon-s { position: absolute; top: -6px; right: -15px; width: 24px; height: 24px; font-size: 24px; }
.alt-features-icon svg { display: block; width: 1em; height: 1em; fill: currentcolor; }
.alt-features-title { margin-bottom: 11px; font-size: 19px; font-weight: 500; letter-spacing: -0.02em; transition: var(--transition-default); }
.alt-features-descr { font-size: 16px; line-height: 1.625; color: var(--color-gray-1); }
.works-grid { display: flex; flex-flow: wrap; list-style: none; margin: 0px; padding: 0px; }
.work-item { width: 25%; margin: 0px; }
.work-grid-3 .work-item { width: 33.333%; }
.works-grid.work-grid-gut-lg { margin: -80px 0px 0px -70px; }
.works-grid.work-grid-gut-lg .work-item { padding: 80px 0px 0px 70px; }
.work-item a { display: block; padding: 0px; position: relative; box-sizing: border-box; text-decoration: none; }
.work-item a, .work-item a:hover { color: var(--color-dark-1); border: none; }
.work-img { position: relative; overflow: hidden; transform: rotate(0.001deg) translateZ(0px); }
.work-img-bg { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: var(--color-gray-light-2); }
.work-img img { display: block; position: relative; width: 100%; overflow: hidden; transform: rotate(0.001deg) translateZ(0px); }
.work-intro { width: 100%; padding-top: 18px; text-align: center; transform: translateZ(0px); }
.work-title { margin: 0px 0px 3px; padding: 0px; font-size: 18px; font-weight: 500; letter-spacing: -0.007em; line-height: 1.4; text-transform: none; transform: translateZ(0px); }
.work-descr { display: block; color: var(--color-gray-1); font-size: 15px; line-height: 1.4; text-transform: none; transform: translateZ(0px); }
.work-item .work-img, .work-item .work-img > img { transition: all 2s var(--ease-out-medium); }
.work-item .work-img { clip-path: inset(-1px); will-change: clip-path; }
.work-item .work-intro { transition: all 2s var(--ease-out-medium); }
.work-item .work-intro.text-start { padding-right: 10px; }
.map-boxed { display: flex; align-items: stretch; width: 100%; }
.map-boxed iframe { width: 100%; height: auto; min-height: 360px; }
.footer { font-size: 16px; }
.footer a { transition: all .17s var(--ease-default); }
footer:not(.light-content) .text-gray a { color: var(--color-gray-1); transition: all .17s var(--ease-default); }
.fw-title { margin-bottom: 16px; font-size: 18px; letter-spacing: -0.02em; }
.fw-menu li:not(:last-child) { margin-bottom: 3px; }
.fw-menu li a { text-decoration: none; color: var(--color-gray-1); }
a.link-to-top, footer .text-gray a.link-to-top { position: relative; display: flex; justify-content: center; align-items: center; width: 48px; height: 48px; color: var(--color-dark-1); font-size: 24px; text-decoration: none; transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.link-to-top i, .link-to-top span { position: relative; transform: rotate(0.001deg) translateZ(0px); z-index: 1; }
.testimonials-slider-1 blockquote { position: relative; margin: 0px 0px 1.5em; padding-left: 1.9778em; font-size: 46px; border: none; background: 0px 0px; }
.testimonials-slider-1 .blockquote-icon { position: absolute; top: 0.15em; left: 0px; width: 0.88em; height: 0.88em; background: rgb(255, 255, 255); border-radius: 50%; font-family: Georgia, serif; font-size: 1.5em; line-height: 1.45em; text-align: center; }
.testimonials-slider-1 blockquote p { font-size: 24px; font-weight: 400; line-height: 1.5; }
.ts1-author { font-size: 18px; font-weight: 500; line-height: 1.45; }
.ts1-author .small { font-weight: 400; font-size: 15px; color: var(--color-gray-1); }
.ts1-author-img { margin-right: 10px; }
.skip-to-content { position: absolute; top: 3px; left: 3px; padding: 20px 40px; color: rgb(255, 255, 255); background: var(--color-dark-1); transform: translateY(-150%); z-index: 100000; }
@media only screen and (max-width: 1366px) {
  .container { max-width: 1260px; }
  .inner-nav ul li { margin: 0px 16px; }
  .hs-title-1 { font-size: calc(1.5rem + 3vw); }
  .section-title { font-size: calc(1.179rem + 2.5vw); }
  .section-descr { font-size: calc(1.152rem + 0.33vw); }
  .testimonial, .testimonial p, .testimonials-slider-1 blockquote { font-size: calc(1.079rem + 2.1vw); }
}
@media only screen and (max-width: 1200px) {
  .inner-nav ul { font-size: 16px; }
  .inner-nav ul li { margin: 0px 11px; }
  .team-social-links a { width: 30px; height: 30px; }
}
@media only screen and (max-width: 1199px) {
  main { overflow: hidden; }
  :root { --services-text-overlap: 135px; }
}
@media only screen and (max-width: 1024px) {
  .testimonials-slider-1 blockquote p { font-size: 18px; }
  .page-section, .split-column-left, .split-column-right { padding-top: 120px; padding-bottom: 120px; }
}
@media only screen and (max-width: 991px) {
  .works-grid.work-grid-gut-lg { margin: -40px 0px 0px -30px; }
  .works-grid.work-grid-gut-lg .work-item { padding: 40px 0px 0px 30px; }
  :root { --services-text-overlap: 0; }
  .team-item-name { font-size: 18px; }
  .alt-features-item { margin-top: 30px; }
  .container .work-grid-3 .work-item, .work-grid-3 .work-item, .work-item { width: 49.9%; }
}
@media only screen and (max-width: 768px) {
  .page-section, .split-column-left, .split-column-right { padding-top: 80px; padding-bottom: 80px; }
}
@media only screen and (max-width: 767px) {
  .container .work-grid-3 .work-item, .work-grid-2 .work-item, .work-grid-3 .work-item, .work-grid-4 .work-item, .work-item { width: 100% !important; }
}
@media only screen and (max-width: 480px) {
  .full-wrapper { --full-wrapper-margin-x: 20px; }
  .container { padding-left: 20px; padding-right: 20px; }
  .form textarea { min-height: 200px !important; }
  .page-section, .split-column-left, .split-column-right { padding-top: 70px; padding-bottom: 70px; }
}
@media only screen and (max-height: 374px) {
  .min-height-100vh, .min-height-80vh, .min-height-90vh { min-height: 374px; }
}
@media only screen and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  html:not(.no-touch) .home-section, html:not(.no-touch) .page-section, html:not(.no-touch) .small-section { background-attachment: scroll !important; }
}
@media (-ms-high-contrast:none) {
  .min-height-100vh { height: 100vh; }
}
@media print {
  * { color: rgb(0, 0, 0) !important; background: rgb(255, 255, 255) !important; }
  .main-nav { display: none; }
  img { display: block; }
}
.mt-n10 { margin-top: -10px !important; }
.mt-n20 { margin-top: -20px !important; }
.mt-n30 { margin-top: -30px !important; }
.mt-0 { margin-top: 0px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-20 { margin-top: 20px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-40 { margin-top: 40px !important; }
.mt-90 { margin-top: 90px !important; }
.mb-0 { margin-bottom: 0px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-30 { margin-bottom: 30px !important; }
.mb-50 { margin-bottom: 50px !important; }
.mb-60 { margin-bottom: 60px !important; }
.mb-70 { margin-bottom: 70px !important; }
.pt-0 { padding-top: 0px !important; }
.pt-20 { padding-top: 20px !important; }
.pt-40 { padding-top: 40px !important; }
.pt-80 { padding-top: 80px !important; }
.pt-100 { padding-top: 100px !important; }
.pb-0 { padding-bottom: 0px !important; }
.pb-30 { padding-bottom: 30px !important; }
.pb-80 { padding-bottom: 80px !important; }
.pb-100 { padding-bottom: 100px !important; }
.pb-120 { padding-bottom: 120px !important; }
@media only screen and (max-width: 991px) {
  .mt-md-0 { margin-top: 0px !important; }
  .mb-md-40 { margin-bottom: 40px !important; }
  .mb-md-60 { margin-bottom: 60px !important; }
}
@media only screen and (max-width: 767px) {
  .mt-sm-10 { margin-top: 10px !important; }
  .mt-sm-20 { margin-top: 20px !important; }
  .mb-sm-30 { margin-bottom: 30px !important; }
  .mb-sm-40 { margin-bottom: 40px !important; }
  .mb-sm-50 { margin-bottom: 50px !important; }
  .mb-sm-60 { margin-bottom: 60px !important; }
  .pt-sm-0 { padding-top: 0px !important; }
  .pt-sm-20 { padding-top: 20px !important; }
  .pt-sm-70 { padding-top: 70px !important; }
  .pt-sm-120 { padding-top: 120px !important; }
  .pb-sm-70 { padding-bottom: 70px !important; }
  .pb-sm-80 { padding-bottom: 80px !important; }
  .pb-sm-120 { padding-bottom: 120px !important; }
}
@media only screen and (max-width: 575px) {
  .mb-xs-10 { margin-bottom: 10px !important; }
  .mb-xs-30 { margin-bottom: 30px !important; }
  .mb-xs-40 { margin-bottom: 40px !important; }
  .pb-xs-50 { padding-bottom: 50px !important; }
  .pb-xs-80 { padding-bottom: 80px !important; }
}
.btn-mod.btn-w { background: rgba(255, 255, 255, 0.98); }

